module {{.ModulePath}}

go {{.GoVersion}}


require(
    github.com/spf13/cobra v1.10.2

{{- if hasFeature . "UseConfig"}}
    github.com/spf13/viper v1.21.0
{{- end}}

{{- if hasFeature . "UseTUI"}}
    charm.land/bubbletea/v2 v2.0.2
    charm.land/huh/v2 v2.0.3
    charm.land/lipgloss/v2 v2.0.1
{{- end}}


{{- if hasFeature . "UseLogging"}}
    go.uber.org/zap v1.28.0
{{- end}}


{{- if hasFeature . "UseTesting"}}
    github.com/stretchr/testify v1.11.1
{{- end}}
)


