module {{.ModulePath}}

go {{.GoVersion}}

require(
     github.com/urfave/cli/v3 v3.9.0

{{- if hasFeature . "UseTUI"}}
     charm.land/bubbletea/v2 v2.0.2
     charm.land/lipgloss/v2 v2.0.1
{{- end}}

{{- if hasFeature . "UseLogging"}}
     go.uber.org/zap v1.28.0
{{- end}}

{{- if hasFeature . "UseConfig"}}
    github.com/spf13/viper v1.21.0
{{- end}}

{{- if hasFeature . "UseTesting"}}
    github.com/stretchr/testify v1.11.1
{{- end}}
)
